<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FlairVibes Tailor</title>
        <link rel="stylesheet" type="text/css" href="../static/styles/common.css?{{ cache_id }}" />
        <link rel="stylesheet" type="text/css" href="../static/styles/header.css?{{ cache_id }}" />
        <link rel="stylesheet" type="text/css" href="../static/styles/footer.css?{{ cache_id }}" />
        <LINK rel="icon" href="../static/images/fvticon.png">
    </head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js?{{ cache_id }}"></script>
    <script src="../static/scripts/fvtailor.js?"></script>
    <body>
        <header>
            <div class="logo">
            </div>
        </header>
        <div class="container">
            <section class="welcome">
                <h2>Hi there! Welcome To FlairVibes Tailor</h2>
                <p>a music recommender with music ideas for you</p>
            </section>
            <section class="submission">
                <div>
                    <h4 class="submission_note">Please put in some details, and we'll recommend songs you might like</h4>
                <form id="submit_songs">
                    <input type="text" id="song_title" name="song_title" placeholder="Enter the name of your favourite song"><br>
                    <input type="text" id="artist_name" name="artist_name" placeholder="Enter the artist's name"><br>
                    <input type="submit" value="Submit!" id="submit_button">
                </form>

                </div>
            </section>
            <section class="recommendations">

            </section>
        </div>
        <footer>
            <hr>
            <p>written by Jason Flair, GitHub - github.com/jasonflair</p>
        </footer>
    </body>
</html>
