<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content=" FlairVibes Tailor, a personalised music recommender that recommends similar songs based on what you submit as your favourite song.">
        <meta name="keywords" content="Flair Vibes Tailor, music, recommender, music recommendations, personalized music, music discovery, audio features">
        <title>FlairVibes Tailor</title>
        <link rel="stylesheet" type="text/css" href="../fvtstatic/styles/common.css?{{ cache_id }}" />
        <link rel="stylesheet" type="text/css" href="../fvtstatic/styles/header.css?{{ cache_id }}" />
        <link rel="stylesheet" type="text/css" href="../fvtstatic/styles/footer.css?{{ cache_id }}" />
        <LINK rel="icon" href="../fvtstatic/images/fvticon.png?{{ cache_id }}">
    </head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js?{{ cache_id }}"></script>
    <script src="../fvtstatic/scripts/fvtailor.js?"></script>
    <body>
        <header>
            <div class="logo">
            </div>
        </header>
        <div class="container">
            <section class="welcome">
                <h2>You're all set! let's match your music taste</h2>
            </section>
            <section class="submission">
                <div>
                    <h4 class="submission_note">Please put in some details, and we'll recommend songs you might like</h4>
                <form id="submit_songs">
                    <input type="text" id="song_title" name="song_title" placeholder="Enter the name of your favourite song"><br>
                    <input type="text" id="artist_name" name="artist_name" placeholder="Enter the artiste's name"><br>
                    <input type="submit" value="Submit!" id="submit_button">
                </form>

                </div>
            </section>
            <section class="recommendations">

            </section>
        </div>
        <footer>
            <p>written by Jason Flair, GitHub - github.com/jasonflair</p>
        </footer>
    </body>
</html>
